{% extends "bahnhof.html" %}
{% block title %}abschnitt{% endblock %}
{% block content %}
    <h1 class="py-5">Abschnitte</h1>
        <form method="POST">
          <br />
          <div class="form-group">
            <label for="a_name">neuer Abschnitt:</label></br>
            <input
              type="text"
              class="form-control"
              id="a_name"
              name="a_name"
              placeholder="Bezeichnung Abschnitt"
            />
          </div>
            <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="a_spurweite"
              name="a_spurweite"
              placeholder="Spurweite (meter)"
            />
          </div>
            <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="a_maxGeschwindigkeit"
              name="a_maxGeschwindigkeit"
              placeholder="maximale Geschwindigkeit (km/h)"
            />
          </div>
            <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="a_entgelt"
              name="a_entgelt"
              placeholder="Entgelt (EURO)"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="a_länge"
              name="a_länge"
              placeholder="Länge (m)"
            />
          </div>
            <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="a_starbahnhof"
              name="a_startbahnhof"
              placeholder="Startbahnhof"
            />
          </div>
            <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="a_endbahnhof"
              name="a_endbahnhof"
              placeholder="Endbahnhof"
            />
          </div>
        </br>
          <button type="add" class="btn btn-primary">HINZUFÜGEN</button>
          <br />
          <br />
    </form>
</form>
<br />
{% endblock %}