{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.firstname.label(class="form-label") }} <br>
        {{ form.firstname(class="form-control", size=30) }} <br></br>
    </p>
    <p>
        {{ form.lastname.label(class="form-label") }} <br>
        {{ form.lastname(class="form-control", size=30) }} <br></br>
    </p>
    <p>
        {{ form.birthday.label(class="form-label") }} <br>
        {{ form.birthday(class="form-control", size=30) }} <br></br>
    </p>
    <p>{{ form.submit(class="form-control") }}</p>
</form>
{% endblock %}