{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content
%}
<form method="POST">
  <h3 align="left">Login</h3>
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="E-Mail Adresse"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      id="passwort"
      name="passwort"
      placeholder="Passwort"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Ok</button>
</form>
{% endblock %}