{% extends "base.html" %}
{% block title %}mitarbeiter{% endblock %}
{% block content %}
    <h1 class="py-5">Mitarbeiterverwaltung</h1>
        <form method="POST">
          <br />
          <div class="form-group">
            <label for="ma_birthday">neuer Mitarbeiter:</label></br>
            <input
              type="text"
              class="form-control"
              id="ts_birthday"
              name="ts_name"
              placeholder="Name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="ts_address"
              name="ts_address"
              placeholder="Adresse"
            />
          </div></br>
          <button type="add" class="btn btn-primary">HINZUFÜGEN</button>
          <br />
          <br />
        </form>
    <hr />
    <u1 class="list-group list-group-flush" id="trainstation-list">
        {% for ts in bahnhöfe %}
            <li class="list-group-item">
                <li>
                    <span class="field-name">Bahnhof:</span>
                    <span class="field-value">{{ ts.name }}</span>
                </li>
                <li>
                    <span class="field-name">Adresse:</span>
                    <span class="field-value">{{ ts.address }}</span>
                    <p>
                        <a href="/edit_Bahnhöfe/{{ ts.id }}"
                           class="btn btn-primary btn-lg-active"
                           role="button" aria-pressed="true">BEARBEITEN |
                        </a>
                        <a href="/delete_b/{{ ts.id }}"
                           class="btn btn-primary btn-lg-active"
                           role="button" aria-pressed="true">LÖSCHEN
                        </a>
                    </p>
                    </form>
                    <hr />
                    <br />
                </li>
            </form>

            </li>
        {% endfor %}
    </u1>
<br />
{% endblock %}