{% extends "base.html" %}
{% block title %}Strecken{% endblock %}
{% block content %}
<dif>
    <h1 class="py-5">Strecken</h1>
    {% if current_user.admin == True %}
    <form method="POST">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="rou_name"
          name="rou_name"
          placeholder="Name der Strecke"
        />
      </div>
      <div>
          <br>
          <label>Abschnitte auswählen:</label>
          <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% for a in abschnitte %}
                        <label class="switch ">
                            <input type="checkbox" name="rou_sections" class="danger"
                                   value="{{ a.id }}">Abschnitt von {{ a.start.name }} nach {{ a.end.name }}
                        </label>
                    <br>
                    {% endfor %}
                </li>
          </ul>
      </div>
      <br />
      <button type="add" class="btn btn-primary">HINZUFÜGEN</button>
    </form>
    {% endif %}
    <hr />
    <u1 class="list-group list-group-flush" id="route-list">
        {% for s in strecken %}
            <li id="{{ s.id }}" class="entry list-group-item">
                <li>
                    <span class="field-name":>Strecke:</span>
                    <span class="field-value">{{ s.name }}</span>
                </li>
                <li>
                    <span class="field-name":>Streckenabschnitte:</span>
                    <br>
                    {% for s in s.strecken_abschnitt %}
                    <span class="field-value">{{ s.start.name }} - {{ s.end.name }}<br></span>
                    {% endfor %}
                </li>
                {% if current_user.admin == True %}
                    <p>
                        <a href="/bearbeitenStrecke/{{ s.id }}"
                           class="btn btn-primary btn-lg-active"
                           role="button" aria-pressed="true">BEARBEITEN |
                        </a>
                        <a href="/löschenStrecke/{{ s.id }}"
                           class="btn btn-primary btn-lg-active"
                           role="button" aria-pressed="true">LÖSCHEN
                        </a>
                    </p>
                {% endif %}
            </li>
        {% endfor %}
    </u1>
</dif>
<br />

{% endblock %}