{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="welcome">
    <div class="table-scroll">
        <table>
            {% for l in list %}
            <tr class="schedule-details">
                <td class="sch-day">{{ l.trip.date }}</td>
                <td class="sch-time">{{ l.trip.start_date }} - {{ l.trip.end_date }}</td>
                <td class="sch-from-to">{{ l.from_station }} > {{ l.end_station }}</td>
                <td class="sch-event"></td>
                {%if l.best_discount >0 %}
                    <td class="sch-price-discount">€ {{ l.price }} -{{l.best_discount}} %</td>
                {%else%}
                    <td class="sch-price">€ {{ l.price }}</td>
                {%endif%}
                <td class="sch-from-to"><i>Der Zug fährt zwischen {{ l.trip.startPunktStrecke }} und {{ l.trip.endPunktStrecke }}</i></td>
                {%if (l.trip.date + " " + l.trip.end_date)> now %}
                <td class="buy"><a href="{{ url_for('buyticket',fahrtdurchfuehrung=l.trip.fahrtdurchfuehrung,date=l.trip.date,start_date=l.trip.start_date,end_date=l.trip.end_date,start_point=l.from_station,end_point=l.end_station,price=l.price,discount=l.best_discount, fid = l.trip.fahrtstrecke,start_nr =start_nr ,end_nr= end_nr) }}"><i class="fa fa-shopping-cart" style="font-size:32px; color: black"></i></a></td>
                {%else%}
                <td class="buy">Diese Reise liegt in der Vergangenheit</td>
                {%endif%}

            </tr>
            {% endfor %}
        </table>
        <br>
        </div>
    <a class="back" href="{{ url_for('schedule') }}">zurück</a>
</div>
{% endblock %}