{% extends "base.html" %}

{% block content %}
	<h3>Ticketübersicht<h3>
		<table>
			<tr class="row">
				<td>Von</td>
				<td>Nach</td>
				<td>Preis</td>
				<td>Status</td>
				<td>Abfahrt</td>
				<td>Ankunft</td>
				<td>Sitzplatz J/N</td>
				<td>Sitzplatz reservieren</td>
				<td>Stornieren</td>
			</tr>
			{% for t in tickets %}
			<tr class="ticket">
				<td>{{t.ticket_startStation}}</td>
				<td>{{t.ticket_endStation}}</td>
				<td>{{t.ticket_preis}}</td>
				<td>{{t.ticket_status}}</td>
				<td>{{t.fahrtdurchführung_startDatum}}</td>
				<td>{{t.fahrtdurchführung_endDatum}}</td>
				<td>{{t.ticket_sitzplatzreservierung}}</td>
				<td><a href="{{'reserveSeat'}}/{{t.ticket_id}}"> Reservieren</a></td>
				{% if t.ticket_status!='storniert' %}
				<td><a href="{{'cancel_ticket'}}/{{t.ticket_id}}"> stornieren</a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
{% endblock %}